
.cover{
	height: 600px;
	background-image:url(../img/Landing2.png);
	color: white;
	background-size:cover;
	background-position: center;
	background-color: rgb(0,0,0,0.4);
	background-blend-mode: darken;
}
.car{
	border: 0 !important;
}
.cover-small{
	height: 250px;
	background-blend-mode: normal;
}
.card-title{
	min-height: 3rem;
}
.card-text{
	min-height: 10rem;
}
.formulario{
	background: url(../img/fondo2.png);
	background-size: cover;
	height: 850px;
	width: 1900px;
}
